-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Arquitectura" AS ENUM ('BITS_64', 'BITS_32');

-- CreateEnum
CREATE TYPE "public"."DominioConexion" AS ENUM ('RINA', 'INTERNET_ARA', 'INTERNET', 'SIN_CONEXION');

-- CreateEnum
CREATE TYPE "public"."EstadoDestino" AS ENUM ('ALTA', 'BAJA');

-- CreateEnum
CREATE TYPE "public"."EstadoEquipo" AS ENUM ('ACTIVO', 'BAJA', 'REPARACION');

-- CreateEnum
CREATE TYPE "public"."EstadoOficina" AS ENUM ('ALTA', 'BAJA');

-- CreateEnum
CREATE TYPE "public"."RolUsuario" AS ENUM ('RESPONSABLE', 'SUBORDINADO');

-- CreateEnum
CREATE TYPE "public"."SistemaOperativo" AS ENUM ('WINDOWS_10', 'WINDOWS_11');

-- CreateEnum
CREATE TYPE "public"."TipoAccion" AS ENUM ('TRASPASO', 'MANTENIMIENTO_PREVENTIVO', 'REPARACION', 'BAJA_DEFINITIVA');

-- CreateEnum
CREATE TYPE "public"."TipoRAM" AS ENUM ('DDR', 'DDR2', 'DDR3', 'DDR4', 'DDR5');

-- CreateTable
CREATE TABLE "public"."Cargo" (
    "id_cargo" SERIAL NOT NULL,
    "nombre_cargo" TEXT NOT NULL,
    "estado" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "Cargo_pkey" PRIMARY KEY ("id_cargo")
);

-- CreateTable
CREATE TABLE "public"."Departamento" (
    "id_departamento" SERIAL NOT NULL,
    "nombre_departamento" TEXT NOT NULL,
    "abreviatura" TEXT NOT NULL,
    "id_destino" INTEGER NOT NULL,
    "estado" "public"."EstadoDestino" NOT NULL DEFAULT 'ALTA',

    CONSTRAINT "Departamento_pkey" PRIMARY KEY ("id_departamento")
);

-- CreateTable
CREATE TABLE "public"."Destino" (
    "id_destino" SERIAL NOT NULL,
    "cod_destino" INTEGER NOT NULL,
    "nombre_destino" TEXT NOT NULL,
    "descripcion" TEXT,
    "estado" "public"."EstadoDestino" NOT NULL DEFAULT 'ALTA',
    "id_cargo" INTEGER NOT NULL,

    CONSTRAINT "Destino_pkey" PRIMARY KEY ("id_destino")
);

-- CreateTable
CREATE TABLE "public"."Division" (
    "id_division" SERIAL NOT NULL,
    "nombre_division" TEXT NOT NULL,
    "abreviatura" TEXT NOT NULL,
    "id_departamento" INTEGER NOT NULL,
    "estado" "public"."EstadoDestino" NOT NULL DEFAULT 'ALTA',

    CONSTRAINT "Division_pkey" PRIMARY KEY ("id_division")
);

-- CreateTable
CREATE TABLE "public"."Historial_Modificacion" (
    "id_historial" SERIAL NOT NULL,
    "id_planilla" INTEGER NOT NULL,
    "id_usuario" INTEGER,
    "tipo_accion" "public"."TipoAccion",
    "id_oficina_destino" INTEGER,
    "observaciones" TEXT,
    "fecha_modificacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "motivo_cambio" TEXT NOT NULL,
    "detalle_cambios" TEXT NOT NULL,

    CONSTRAINT "Historial_Modificacion_pkey" PRIMARY KEY ("id_historial")
);

-- CreateTable
CREATE TABLE "public"."Oficina" (
    "id_oficina" SERIAL NOT NULL,
    "numero_oficina" TEXT NOT NULL,
    "estado" "public"."EstadoOficina" NOT NULL DEFAULT 'ALTA',
    "id_division" INTEGER NOT NULL,

    CONSTRAINT "Oficina_pkey" PRIMARY KEY ("id_oficina")
);

-- CreateTable
CREATE TABLE "public"."Planilla_Equipo" (
    "id_planilla" SERIAL NOT NULL,
    "numero_equipo" TEXT NOT NULL,
    "correlativo_dominio" INTEGER NOT NULL,
    "id_oficina" INTEGER NOT NULL,
    "numero_oficina" TEXT NOT NULL,
    "usuario_responsable" TEXT NOT NULL,
    "nombre_equipo" TEXT NOT NULL,
    "nombre_usuario_red" TEXT NOT NULL,
    "dominio_conexion" "public"."DominioConexion" NOT NULL,
    "sistema_operativo" "public"."SistemaOperativo" NOT NULL,
    "arquitectura" "public"."Arquitectura" NOT NULL,
    "procesador" TEXT NOT NULL,
    "tipo_ram" "public"."TipoRAM" NOT NULL,
    "ram_capacidad" TEXT NOT NULL,
    "disco" TEXT NOT NULL,
    "hardware_otros" TEXT,
    "monitor_modelo" TEXT,
    "monitor_tamano" TEXT,
    "impresora_modelo" TEXT,
    "impresora_insumos" TEXT,
    "tiene_teclado" BOOLEAN NOT NULL DEFAULT true,
    "tiene_mouse" BOOLEAN NOT NULL DEFAULT true,
    "perifericos_otros" TEXT,
    "codigo_qr" TEXT,
    "estado_equipo" "public"."EstadoEquipo" NOT NULL DEFAULT 'ACTIVO',
    "fecha_creacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Planilla_Equipo_pkey" PRIMARY KEY ("id_planilla")
);

-- CreateTable
CREATE TABLE "public"."Usuario" (
    "id_usuario" SERIAL NOT NULL,
    "jerarquia" TEXT NOT NULL,
    "nombre_apellido" TEXT NOT NULL,
    "mr" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "rol" "public"."RolUsuario" NOT NULL DEFAULT 'SUBORDINADO',
    "estado" BOOLEAN NOT NULL DEFAULT true,
    "id_cargo" INTEGER NOT NULL,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id_usuario")
);

-- CreateIndex
CREATE UNIQUE INDEX "Destino_cod_destino_key" ON "public"."Destino"("cod_destino" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Planilla_Equipo_codigo_qr_key" ON "public"."Planilla_Equipo"("codigo_qr" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Planilla_Equipo_numero_equipo_key" ON "public"."Planilla_Equipo"("numero_equipo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_mr_key" ON "public"."Usuario"("mr" ASC);

-- AddForeignKey
ALTER TABLE "public"."Departamento" ADD CONSTRAINT "Departamento_id_destino_fkey" FOREIGN KEY ("id_destino") REFERENCES "public"."Destino"("id_destino") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Destino" ADD CONSTRAINT "Destino_id_cargo_fkey" FOREIGN KEY ("id_cargo") REFERENCES "public"."Cargo"("id_cargo") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Division" ADD CONSTRAINT "Division_id_departamento_fkey" FOREIGN KEY ("id_departamento") REFERENCES "public"."Departamento"("id_departamento") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Historial_Modificacion" ADD CONSTRAINT "Historial_Modificacion_id_oficina_destino_fkey" FOREIGN KEY ("id_oficina_destino") REFERENCES "public"."Oficina"("id_oficina") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Historial_Modificacion" ADD CONSTRAINT "Historial_Modificacion_id_planilla_fkey" FOREIGN KEY ("id_planilla") REFERENCES "public"."Planilla_Equipo"("id_planilla") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Historial_Modificacion" ADD CONSTRAINT "Historial_Modificacion_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "public"."Usuario"("id_usuario") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Oficina" ADD CONSTRAINT "Oficina_id_division_fkey" FOREIGN KEY ("id_division") REFERENCES "public"."Division"("id_division") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Planilla_Equipo" ADD CONSTRAINT "Planilla_Equipo_id_oficina_fkey" FOREIGN KEY ("id_oficina") REFERENCES "public"."Oficina"("id_oficina") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Usuario" ADD CONSTRAINT "Usuario_id_cargo_fkey" FOREIGN KEY ("id_cargo") REFERENCES "public"."Cargo"("id_cargo") ON DELETE RESTRICT ON UPDATE CASCADE;

